*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root{

  /* --font-title1: 'Ephesis', cursive;
  --font-title2: 'Quicksand', serif;
  --font-p: 'Montserrat', sans-serif;
  --font-size-title: 112px;
  --font-size-p: 18px;
  --font-size-button1: 20px;
  --font-size-button2: 24px; */
  --red: #ff4646;
  --semi-black: #0b0b0b;
  --black: #000000;
  --white: #ffffff;

}

.navbar-nav, .me-auto, .mb-2, .mb-lg-0 {
  width: 100%;
  justify-content: center;
}

.bg-body-tertiary {
  background-color: var(--semi-black) !important; 
}

.nav-link {
  color: var(--white) !important;
}

a.nav-link:hover {
  color: #7d7d7d !important;
  cursor: pointer;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
}

.logo-container {
  background-color: black;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #262626;
}

.topbar-container, .contact {
  display: flex;
  padding: 0;
  margin-top: 1%;
}

.topbar-container li, .contact li {
  color: white;
  list-style: none;
}

.contact li:hover {
  color: #D9D9D9 ;
  cursor: pointer;
}